[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
mypy = "*"
black = "*"

[packages]
fastapi = "*"
aioredis = "*"
aiohttp = "*"
requests = "*"
python-dateutil = "*"
uvicorn = "*"
flake8 = "*"
mypy = "*"
black = "*"
aiocache = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
